extends layout

block content
  .error
    span Incorrect login/password :(

  form(method='post', id='signin_form', class='login')

    .info
      h2 Welcome to twaddlr
      p Have no account yet? <a href="/register">Register</a> now!

    .fields

      .row.input
        label Login
        input#login(type='text', name='login')
      .row.input
        label Password
        input#password(type='password', name='password')

      .row.buttons
        button(type='submit') Login


block footer_scripts
  script(src='/js/ext/form2js/form2js.js')
  script(src='/js/ext/form2js/jquery.toObject.js')
  script(src='/js/register.js')

  script
    $(document).ready(function() {
      //$('#signin_form input[name="login"]').blur(function(e) {
      //  console.log('Checking if login is correct ...');
      //});
      $('form').submit(function(e) {
        e.preventDefault();
        // TODO: Do login stuff
      });

      $('.row input').focus(function(e) {
        $(this).prev().css('opacity', '0.0');
      }).blur(function(e) {
        // Show the label if there's still no value
        if ($(this).val() == '') {
          $(this).prev().css('opacity', '1.0');
        }
      });
    });