doctype html

html

	head
		title twaddlr alpha

		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='robots', content='noindex')
		meta(name='robots', content='nofollow')

		link(rel='stylesheet/less', type='text/css', href='/css/main.css')
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Dancing+Script:regular')
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Molengo&subset=latin')

		script(src='/js/less-1.1.5.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')

	body
		#top_navi
		#main_content
			block content

		block footer_scripts

