extends layout

block content
    h1 Sign up for twaddlr

    form.register(method='post', id='register_form')
      .row
        label Username
        input#username(type='text', name='username')
      .row
        label Email
        input#email(type='text', name='email')
      .row
        label Password
        input#password(type='password', name='password')
      .row
        label Verify Password
        input#password_verify(type='password', name='password_verify')

      .row.buttons
        button(type='submit') Create Account

    p Already have an account? Please <a href="/">log in</a>


block footer_scripts
  script(src='/js/ext/form2js/form2js.js')
  script(src='/js/ext/form2js/jquery.toObject.js')
  script(src='/js/register.js')

  script
    $(document).ready(function() {
      $('form').submit(function(e) {
        e.preventDefault();
        // TODO: Do login stuff
      });
    });