<div class="row">
  <div class="span8">
    <div class="msg-view"></div>
  </div>
</div>

<div class="row">
  <div class="span4">
    <div class="user-input">
      <form class="form-inline">
        <fieldset>
          <div class="control-group" data-role="ctrl-group-username">
            <div class="controls">
              <input type="text">
              <button class="btn btn-primary">Send</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>