<!--
<div class="notifications">
    <div class="alert alert-error" data-role="invalidUsername">
        <a class="close" data-dismiss="alert" href="#">×</a>
        Invalid login!
    </div>

    <div class="alert alert-error" data-role="invalidPassword">
        <a class="close" data-dismiss="alert" href="#">×</a>
        Invalid password!
    </div>

    <div class="alert alert-success" data-login="loginSuccess">
        <a class="close" data-dismiss="alert" href="#">×</a>
        Logged in successfully!
    </div>
</div>
-->

<form id="login-form" class="well">
    <div class="info">
        <h2>Welcome back to twaddlr!</h2>
        <p>Have no account yet? <a href="#" data-action="register">Register</a> now!</p>
    </div>
    <input id="username" type="text" name="username" placeholder="Username"/>
    <input id="password" type="password" name="password" placeholder="Password"/>

    <button type="submit" class="btn btn-primary">Login</button>
</form>
