<!--
<div class="notifications">
    <div class="alert alert-error" data-role="invalidUsername">
        <a class="close" data-dismiss="alert" href="#">×</a>
        Invalid login!
    </div>

    <div class="alert alert-error" data-role="invalidPassword">
        <a class="close" data-dismiss="alert" href="#">×</a>
        Invalid password!
    </div>

    <div class="alert alert-success" data-login="loginSuccess">
        <a class="close" data-dismiss="alert" href="#">×</a>
        Logged in successfully!
    </div>
</div>
-->

<div class="row"><div class="span4 offset4">

<form id="login-form" class="well">
    <h2>Welcome back to twaddlr!</h2>
    <div class="info">
        <p>Have no account yet? <a href="#" data-action="register">Register</a> now!</p>
    </div>
    <div class="control-group">
        <div class="controls">
            <input id="username" type="text" name="username" placeholder="Username"/>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input id="password" type="password" name="password" placeholder="Password"/>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
</form>

</div></div>