<div class="row"><div class="span4 offset4">

<form id="register-form" class="well">
  <div class="info">
    <h2>Sign up for twaddlr</h2>
    <p>Already have an account? Please <a href="#">log in</a>!</p>
  </div>
  <fieldset>
    <div class="control-group">
      <div class="controls">                
        <input id="email" type="text" name="email" placeholder="Email"/>
      </div>
    </div>
    <div class="control-group" data-role="ctrl-group-username">
      <div class="controls">
        <input id="username" type="text" name="username" placeholder="Username"/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input id="password" type="password" name="password" placeholder="Password"/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls"> 
        <button class="btn btn-primary">Create Account</button>
      </div>
    </div>
  </fieldset>
</form>

</div></div>